<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=one.0">
    <title>Document</title>
   <!--- <link rel="stylesheet" href="/css/index.css">-->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Mochiy+Pop+P+One&family=Montserrat:wght@600&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans&family=Mochiy+Pop+P+One&family=Montserrat:wght@600&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/edit.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label class="form__label"="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <hr>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/teachers">BACK</a>
                    </li>
                   

                </ul>
                <form class="d-flex" action="https://www.google.com/search?">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q"
                    autocomplete="off">
                  <button class="btn btn-outline-success" type="submit" onclick="google.com">SEARCH</button>
                </form>
                
                <ul class="navbar-nav">
                    <li class="nav-item" id="logout">
                      <a class="nav-link active" aria-current="page" href="/logout">LOGOUT</a>
          
                    </li>
                  </ul>

            </div>
        </div>
    </nav>
   
    <h1>
        <%=edit.NAME%>
    </h1>
    <table>
        <tr id="maintr">
            <th>DAYS</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
        </tr>
        <tr>
            <th>MONDAY</th>
            <td>
                <%=edit.MONDAY.one%>
            </td>
            <td>
                <%=edit.MONDAY.two%>
            </td>
            <td>
                <%=edit.MONDAY.three%>
            </td>
            <td>
                <%=edit.MONDAY.four%>
            </td>
            <td>
                <%=edit.MONDAY.five%>
            </td>
            <td>
                <%=edit.MONDAY.six%>
            </td>
            <td>
                <%=edit.MONDAY.seven%>
            </td>
            <td>
                <%=edit.MONDAY.eight%>
            </td>
        </tr>
        <tr>
            <th>TUESDAY</th>
            <td>
                <%=edit.TUESDAY.one%>
            </td>
            <td>
                <%=edit.TUESDAY.two%>
            </td>
            <td>
                <%=edit.TUESDAY.three%>
            </td>
            <td>
                <%=edit.TUESDAY.four%>
            </td>
            <td>
                <%=edit.TUESDAY.five%>
            </td>
            <td>
                <%=edit.TUESDAY.six%>
            </td>
            <td>
                <%=edit.TUESDAY.seven%>
            </td>
            <td>
                <%=edit.TUESDAY.eight%>
            </td>
        </tr>
        <tr>
            <th>WEDNESDAY</th>
            <td>
                <%=edit.WEDNESDAY.one%>
            </td>
            <td>
                <%=edit.WEDNESDAY.two%>
            </td>
            <td>
                <%=edit.WEDNESDAY.three%>
            </td>
            <td>
                <%=edit.WEDNESDAY.four%>
            </td>
            <td>
                <%=edit.WEDNESDAY.five%>
            </td>
            <td>
                <%=edit.WEDNESDAY.six%>
            </td>
            <td>
                <%=edit.WEDNESDAY.seven%>
            </td>
            <td>
                <%=edit.WEDNESDAY.eight%>
            </td>
        </tr>
        <tr>
            <th>THURSDAY</th>
            <td>
                <%=edit.THURSDAY.one%>
            </td>
            <td>
                <%=edit.THURSDAY.two%>
            </td>
            <td>
                <%=edit.THURSDAY.three%>
            </td>
            <td>
                <%=edit.THURSDAY.four%>
            </td>
            <td>
                <%=edit.THURSDAY.five%>
            </td>
            <td>
                <%=edit.THURSDAY.six%>
            </td>
            <td>
                <%=edit.THURSDAY.seven%>
            </td>
            <td>
                <%=edit.THURSDAY.eight%>
            </td>
        </tr>
        <tr>
            <th>FRIDAY</th>
            <td>
                <%=edit.FRIDAY.one%>
            </td>
            <td>
                <%=edit.FRIDAY.two%>
            </td>
            <td>
                <%=edit.FRIDAY.three%>
            </td>
            <td>
                <%=edit.FRIDAY.four%>
            </td>
            <td>
                <%=edit.FRIDAY.five%>
            </td>
            <td>
                <%=edit.FRIDAY.six%>
            </td>
            <td>
                <%=edit.FRIDAY.seven%>
            </td>
            <td>
                <%=edit.FRIDAY.eight%>
            </td>
        </tr>
        <tr>
            <th>SATURDAY</th>
            <td>
                <%=edit.SATURDAY.one%>
            </td>
            <td>
                <%=edit.SATURDAY.two%>
            </td>
            <td>
                <%=edit.SATURDAY.three%>
            </td>
            <td>
                <%=edit.SATURDAY.four%>
            </td>
            <td>
                <%=edit.SATURDAY.five%>
            </td>
            <td>
                <%=edit.SATURDAY.six%>
            </td>
            <td>
                <%=edit.SATURDAY.seven%>
            </td>
            <td>
                <%=edit.SATURDAY.eight%>
            </td>




        </tr>
    </table>
    <form action="/teachers/<%=edit.id%>?_method=PUT" method="post">
        <h3>MONDAY</h3>
        <section id="firstsec">
        <div class="form__group field">
         <label class="form__label" for="MONDAYone">ONE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="MONDAY.one" name="MONDAYone" size="10"
                id="MONDAYone" value="<%=edit.MONDAY.one%>" autocomplete="off">
              </div>
              <div class="form__group field">  
            <label class="form__label" for="MONDAYtwo">TWO</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="MONDAY.two" id="MONDAYtwo" size="10"
                value="<%=edit.MONDAY.two%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="MONDAYthree">THREE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="MONDAY.three" id="MONDAYthree" size="10"
                value="<%=edit.MONDAY.three%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="MONDAYfour">FOUR</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="MONDAY.four" id="MONDAYfour" size="10"
                value="<%=edit.MONDAY.four%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="MONDAYfive">FIVE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="MONDAY.five" id="MONDAYfive" size="10"
                value="<%=edit.MONDAY.five%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="MONDAYsix">SIX</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="MONDAY.six" id="MONDAYsix" size="10"
                value="<%=edit.MONDAY.six%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="MONDAYseven">SEVEN</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="MONDAY.seven" id="MONDAYseven" size="10"
                value="<%=edit.MONDAY.seven%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="MONDAYeight">EIGHT</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="MONDAY.eight" id="MONDAYeight" size="10"
                value="<%=edit.MONDAY.eight%>" autocomplete="off">
                </div>
                </section>
        <h3>TUESDAY</h3>
        <section>
        <div class="form__group field">
            <label class="form__label" for="TUESDAYone">ONE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="TUESDAY.one" id="TUESDAYone" size="10"
                value="<%=edit.TUESDAY.one%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="TUESDAYtwo">TWO</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="TUESDAY.two" id="TUESDAYtwo" size="10"
                value="<%=edit.TUESDAY.two%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="TUESDAYthree">THREE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="TUESDAY.three" id="TUESDAYthree" size="10"
                value="<%=edit.TUESDAY.three%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="TUESDAYfour">FOUR</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="TUESDAY.four" id="TUESDAYfour" size="10"
                value="<%=edit.TUESDAY.four%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="TUESDAYfive">FIVE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="TUESDAY.five" id="TUESDAYfive" size="10"
                value="<%=edit.TUESDAY.five%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="TUESDAYsix">SIX</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="TUESDAY.six" id="TUESDAYsix" size="10"
                value="<%=edit.TUESDAY.six%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="TUESDAYseven">SEVEN</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="TUESDAY.seven" id="TUESDAYseven" size="10"
                value="<%=edit.TUESDAY.seven%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="TUESDAYsix">EIGHT</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="TUESDAY.eight" id="TUESDAYeight" size="10"
                value="<%=edit.TUESDAY.eight%>" autocomplete="off">
        </div>
        </section>
        <h3>WEDNESDAY</h3>
        <section>
        <div class="form__group field"> <label class="form__label" for="WEDNESDAYone">ONE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="WEDNESDAY.one" id="WEDNESDAYone" size="10"
                value="<%=edit.WEDNESDAY.one%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="WEDNESDAYtwo">TWO</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="WEDNESDAY.two" id="WEDNESDAYtwo" size="10"
                value="<%=edit.WEDNESDAY.two%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="WEDNESDAYthree">THREE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="WEDNESDAY.three" id="WEDNESDAYthree" size="10"
                value="<%=edit.WEDNESDAY.three%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="WEDNESDAYfour">FOUR</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="WEDNESDAY.four" id="WEDNESDAYfour" size="10"
                value="<%=edit.WEDNESDAY.four%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="WEDNESDAYfive">FIVE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="WEDNESDAY.five" id="WEDNESDAYfive" size="10"
                value="<%=edit.WEDNESDAY.five%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="WEDNESDAYsix">SIX</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="WEDNESDAY.six" id="WEDNESDAYsix" size="10"
                value="<%=edit.WEDNESDAY.six%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="WEDNESDAYseven">SEVEN</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="WEDNESDAY.seven" id="WEDNESDAYseven" size="10"
                value="<%=edit.WEDNESDAY.seven%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="WEDNESDAYeight">EIGHT</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="WEDNESDAY.eight" id="WEDNESDAYeight" size="10"
                value="<%=edit.WEDNESDAY.eight%>" autocomplete="off">
        </div>
        </section>
        <h3>THURSDAY</h3>
        <section>
        <div class="form__group field"> <label class="form__label" for="THURSDAYone">ONE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="THURSDAY.one" id="THURSDAYone" size="10"
                value="<%=edit.THURSDAY.one%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="THURSDAYtwo">TWO</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="THURSDAY.two" id="THURSDAYtwo" size="10"
                value="<%=edit.THURSDAY.two%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="THURSDAYthree">THREE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="THURSDAY.three" id="THURSDAYthree" size="10"
                value="<%=edit.THURSDAY.three%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="THURSDAYfour">FOUR</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="THURSDAY.four" id="THURSDAYfour" size="10"
                value="<%=edit.THURSDAY.four%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="THURSDAYfive">FIVE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="THURSDAY.five" id="THURSDAYfive" size="10"
                value="<%=edit.THURSDAY.five%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="THURSDAYsix">SIX</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="THURSDAY.six" id="THURSDAYsix" size="10"
                value="<%=edit.THURSDAY.six%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="THURSDAYseven">SEVEN</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="THURSDAY.seven" id="THURSDAYseven" size="10"
                value="<%=edit.THURSDAY.seven%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="THURSDAYeight">EIGHT</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="THURSDAY.eight" id="THURSDAYeight" size="10"
                value="<%=edit.THURSDAY.eight%>" autocomplete="off">
        </div>
        </section>
        <h3>FRIDAY</h3>
        <section>
        <div class="form__group field"> <label class="form__label" for="FRIDAYone">ONE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="FRIDAY.one" id="FRIDAYone" size="10"
                value="<%=edit.FRIDAY.one%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="FRIDAYtwo">TWO</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="FRIDAY.two" id="FRIDAYtwo" size="10"
                value="<%=edit.FRIDAY.two%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="FRIDAYthree">THREE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="FRIDAY.three" id="FRIDAYthree" size="10"
                value="<%=edit.FRIDAY.three%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="FRIDAYfour">FOUR</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="FRIDAY.four" id="FRIDAYfour" size="10"
                value="<%=edit.FRIDAY.four%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="FRIDAYfive">FIVE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="FRIDAY.five" id="FRIDAYfive" size="10"
                value="<%=edit.FRIDAY.five%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="FRIDAYsix">SIX</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="FRIDAY.six" id="FRIDAYsix" size="10"
                value="<%=edit.FRIDAY.six%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="FRIDAYseven">SEVEN</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="FRIDAY.seven" id="FRIDAYseven" size="10"
                value="<%=edit.FRIDAY.seven%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="FRIDAYeight">EIGHT</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="FRIDAY.eight" id="FRIDAYeight" size="10"
                value="<%=edit.FRIDAY.eight%>" autocomplete="off">
        </div>
        </section>
        <h3>SATURDAY</h3>
        <section>
        <div class="form__group field"> <label class="form__label" for="SATURDAYone">ONE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="SATURDAY.one" id="SATURDAYone" size="10"
                value="<%=edit.SATURDAY.one%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="SATURDAYtwo">TWO</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="SATURDAY.two" id="SATURDAYtwo" size="10"
                value="<%=edit.SATURDAY.two%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="SATURDAYthree">THREE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="SATURDAY.three" id="SATURDAYthree" size="10"
                value="<%=edit.SATURDAY.three%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="SATURDAYfour">FOUR</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="SATURDAY.four" id="SATURDAYfour" size="10"
                value="<%=edit.SATURDAY.four%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="SATURDAYfive">FIVE</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="SATURDAY.five" id="SATURDAYfive" size="10"
                value="<%=edit.SATURDAY.five%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="SATURDAYsix">SIX</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="SATURDAY.six" id="SATURDAYsix" size="10"
                value="<%=edit.SATURDAY.six%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="SATURDAYseven">SEVEN</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="SATURDAY.seven" id="SATURDAYseven" size="10"
                value="<%=edit.SATURDAY.seven%>" autocomplete="off">
                </div>
                <div class="form__group field">
            <label class="form__label" for="SATURDAYeight">EIGHT</label>
            <input class="form__field" type="text" style="text-transform: uppercase" name="SATURDAY.eight" id="SATURDAYeight" size="10"
                value="<%=edit.SATURDAY.eight%>" autocomplete="off">


        </div>
        </section>

        <button id="submit" class="btn btn-primary">SUBMIT</button>
        </form>
       
    

</body>

</html>